In [0]:
spark

In [0]:
df = spark.read.csv(path = "/FileStore/tables/employee_records.csv", header = True, inferSchema = True)

In [0]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- country: string (nullable = true)
 |-- emp_type: string (nullable = true)

#### Partition

In [0]:
df.show()

+--------+---+------+---------+--------+
|    name|age|gender|  country|emp_type|
+--------+---+------+---------+--------+
|    John| 34|  Male|   Brazil|   admin|
|    Liam| 46|  Male|    China|employee|
|Isabella| 38|  Male|    Japan|   admin|
| William| 43|  Male|    India|   admin|
|   James| 49|Female|   Brazil| manager|
|     Ava| 35|Female|   Canada|employee|
|    Noah| 57|  Male|   France|   admin|
|  Sophia| 25|Female|  Germany|employee|
|     Ava| 23|  Male|   Canada|employee|
|    Emma| 36|  Male|    Japan| manager|
|    Emma| 27|Female|       UK| manager|
|     Ava| 50|  Male|      USA| manager|
|    Emma| 54|  Male|    China| manager|
|   James| 43|  Male|       UK|employee|
|Isabella| 50|Female|  Germany|employee|
|  Olivia| 52|Female|       UK| manager|
| William| 50|Female|    Japan|   admin|
| William| 21|  Male|   France|employee|
|    Noah| 28|  Male|Australia| manager|
|    Liam| 25|Female|    Japan|   admin|
+--------+---+------+---------+--------+
only showing top 20 rows

In [0]:
df.write.format("csv")\
    .option("header","true")\
    .option("mode","overwrite")\
    .partitionBy("gender")\
    .save(path = "/FileStore/tables/partitioned_employee_dataset")

In [0]:
%fs
ls FileStore/tables/partitioned_employee_dataset/gender=Female/

path,name,size,modificationTime
dbfs:/FileStore/tables/partitioned_employee_dataset/gender=Female/_SUCCESS,_SUCCESS,0,1721047133000
dbfs:/FileStore/tables/partitioned_employee_dataset/gender=Female/_committed_1583854544283189852,_committed_1583854544283189852,111,1721047133000
dbfs:/FileStore/tables/partitioned_employee_dataset/gender=Female/_started_1583854544283189852,_started_1583854544283189852,0,1721047132000
dbfs:/FileStore/tables/partitioned_employee_dataset/gender=Female/part-00000-tid-1583854544283189852-367a5bb8-7318-49cb-aed8-f94a2968167f-3-1.c000.csv,part-00000-tid-1583854544283189852-367a5bb8-7318-49cb-aed8-f94a2968167f-3-1.c000.csv,1287,1721047132000

In [0]:
path_for_female_dataset = r"/FileStore/tables/partitioned_employee_dataset/gender=Female/part-00000-tid-1583854544283189852-367a5bb8-7318-49cb-aed8-f94a2968167f-3-1.c000.csv"
df = spark.read\
    .option("header","true")\
    .option("inferschema","true")\
    .csv(path = path_for_female_dataset)
df.show(n = 100)

+--------+---+---------+--------+
|    name|age|  country|emp_type|
+--------+---+---------+--------+
|   James| 49|   Brazil| manager|
|     Ava| 35|   Canada|employee|
|  Sophia| 25|  Germany|employee|
|    Emma| 27|       UK| manager|
|Isabella| 50|  Germany|employee|
|  Olivia| 52|       UK| manager|
| William| 50|    Japan|   admin|
|    Liam| 25|    Japan|   admin|
|    John| 34|   Brazil| manager|
| William| 20|   Brazil| manager|
|    John| 40|    China| manager|
| William| 51|    China|employee|
|    Noah| 44|   France|employee|
|   James| 26|    Japan|   admin|
|Isabella| 54|       UK|employee|
|    John| 56|    China|   admin|
|    Liam| 54|   Brazil| manager|
|Isabella| 56|   Brazil| manager|
| William| 41|   Canada|   admin|
|    Emma| 58|Australia| manager|
|     Ava| 60|   France| manager|
|Isabella| 30|   France|employee|
| William| 35|   Canada| manager|
|     Ava| 26|   Brazil|   admin|
|  Sophia| 34|    Japan|   admin|
| William| 40|    China|   admin|
| William| 41|  Germany| manager|
| William| 21|Australia| manager|
|Isabella| 59|   Canada|employee|
|    Emma| 40|    India|employee|
|Isabella| 21|   Canada|   admin|
|    Emma| 35|   France|employee|
|  Olivia| 47|   Brazil|   admin|
|  Olivia| 59|    India| manager|
|   James| 46|       UK|   admin|
|Isabella| 25|    Japan|employee|
|Isabella| 22|  Germany|   admin|
|    Noah| 44|    China|   admin|
|  Olivia| 39|   Brazil|employee|
|    John| 55|    China|   admin|
|Isabella| 41|    India|   admin|
| William| 57|Australia| manager|
|    John| 21|   France|   admin|
| William| 39|   Brazil|   admin|
|   James| 30|Australia| manager|
|    Emma| 45|    Japan|   admin|
| William| 33|   France| manager|
|  Olivia| 58|Australia|   admin|
|    Emma| 26|      USA| manager|
|    Emma| 53|    Japan| manager|
|    Noah| 37|  Germany| manager|
|    Noah| 53|   Canada| manager|
|  Olivia| 30|    China|   admin|
+--------+---+---------+--------+

#### Bucketing

In [0]:
df = spark.read.option("header","true")\
    .option("inferschema","true")\
    .csv(path = "/FileStore/tables/employee_records.csv")

In [0]:
df.show(100)

+--------+---+------+---------+--------+
|    name|age|gender|  country|emp_type|
+--------+---+------+---------+--------+
|    John| 34|  Male|   Brazil|   admin|
|    Liam| 46|  Male|    China|employee|
|Isabella| 38|  Male|    Japan|   admin|
| William| 43|  Male|    India|   admin|
|   James| 49|Female|   Brazil| manager|
|     Ava| 35|Female|   Canada|employee|
|    Noah| 57|  Male|   France|   admin|
|  Sophia| 25|Female|  Germany|employee|
|     Ava| 23|  Male|   Canada|employee|
|    Emma| 36|  Male|    Japan| manager|
|    Emma| 27|Female|       UK| manager|
|     Ava| 50|  Male|      USA| manager|
|    Emma| 54|  Male|    China| manager|
|   James| 43|  Male|       UK|employee|
|Isabella| 50|Female|  Germany|employee|
|  Olivia| 52|Female|       UK| manager|
| William| 50|Female|    Japan|   admin|
| William| 21|  Male|   France|employee|
|    Noah| 28|  Male|Australia| manager|
|    Liam| 25|Female|    Japan|   admin|
|    John| 34|Female|   Brazil| manager|
|    John| 60|  Male|    Japan|   admin|
| William| 20|Female|   Brazil| manager|
|    John| 40|Female|    China| manager|
|    Noah| 46|  Male|       UK| manager|
|  Olivia| 55|  Male|  Germany| manager|
|    Noah| 38|  Male|    China|employee|
| William| 51|Female|    China|employee|
|    Emma| 39|  Male|   France| manager|
|    Noah| 44|Female|   France|employee|
|   James| 26|Female|    Japan|   admin|
|Isabella| 54|Female|       UK|employee|
|    Noah| 48|  Male|   Canada| manager|
|     Ava| 26|  Male|       UK| manager|
|     Ava| 43|  Male|    India|employee|
|    Liam| 32|  Male|    China|   admin|
|    John| 56|Female|    China|   admin|
|    Noah| 52|  Male|    China|employee|
|    Liam| 54|Female|   Brazil| manager|
| William| 30|  Male|    India|   admin|
|Isabella| 56|Female|   Brazil| manager|
|  Olivia| 25|  Male|   Brazil|employee|
|    Emma| 47|  Male|   Canada| manager|
| William| 41|Female|   Canada|   admin|
| William| 49|  Male|    India|employee|
|    Emma| 58|Female|Australia| manager|
|     Ava| 60|Female|   France| manager|
|Isabella| 30|Female|   France|employee|
| William| 35|Female|   Canada| manager|
|  Sophia| 29|  Male|  Germany|   admin|
|  Sophia| 48|  Male|      USA| manager|
|     Ava| 26|Female|   Brazil|   admin|
|  Sophia| 42|  Male|   France| manager|
|  Sophia| 48|  Male|   France|employee|
|  Sophia| 34|Female|    Japan|   admin|
| William| 40|Female|    China|   admin|
|     Ava| 55|  Male|   Brazil|employee|
|    Emma| 37|  Male|Australia|employee|
|  Olivia| 49|  Male|   Brazil|employee|
| William| 41|Female|  Germany| manager|
| William| 21|Female|Australia| manager|
|  Olivia| 59|  Male|   France|employee|
|Isabella| 59|Female|   Canada|employee|
|    Emma| 40|Female|    India|employee|
|    John| 54|  Male|Australia|   admin|
|Isabella| 21|Female|   Canada|   admin|
|    Emma| 35|Female|   France|employee|
|  Olivia| 47|Female|   Brazil|   admin|
|  Olivia| 59|Female|    India| manager|
|    John| 26|  Male|   France|   admin|
|   James| 46|Female|       UK|   admin|
|Isabella| 25|Female|    Japan|employee|
| William| 30|  Male|   Brazil|   admin|
|Isabella| 22|Female|  Germany|   admin|
|    Noah| 44|Female|    China|   admin|
|  Olivia| 39|Female|   Brazil|employee|
|    John| 55|Female|    China|   admin|
|    Noah| 32|  Male|    Japan|   admin|
|Isabella| 41|Female|    India|   admin|
| William| 57|Female|Australia| manager|
|   James| 48|  Male|  Germany|employee|
|    John| 21|Female|   France|   admin|
| William| 39|Female|   Brazil|   admin|
|   James| 30|Female|Australia| manager|
|    Emma| 45|Female|    Japan|   admin|
| William| 33|Female|   France| manager|
|    Liam| 55|  Male|    Japan|employee|
|  Olivia| 58|Female|Australia|   admin|
|  Sophia| 22|  Male|  Germany|employee|
| William| 24|  Male|    India|   admin|
|    Emma| 49|  Male|Australia| manager|
|    Emma| 26|Female|      USA| manager|
|     Ava| 34|  Male|    India|   admin|
|    Emma| 53|Female|    Japan| manager|
|    Noah| 37|Female|  Germany| manager|
| William| 44|  Male|    Japan| manager|
|    Noah| 53|Female|   Canada| manager|
|    Noah| 51|  Male|   Canada|   admin|
|     Ava| 26|  Male|   Brazil|employee|
|  Olivia| 30|Female|    China|   admin|
+--------+---+------+---------+--------+

In [0]:
df.write\
    .format("csv")\
    .option("header","true")\
    .option("mode","overwrite")\
    .option("path","/FileStore/tables/bucket_by_division/")\
    .bucketBy(2,"emp_type")\
    .saveAsTable("bucket_division")

In [0]:
%fs
ls /FileStore/tables/bucket_by_division/

path,name,size,modificationTime
dbfs:/FileStore/tables/bucket_by_division/_SUCCESS,_SUCCESS,0,1721050592000
dbfs:/FileStore/tables/bucket_by_division/_committed_8648901029701791816,_committed_8648901029701791816,212,1721050592000
dbfs:/FileStore/tables/bucket_by_division/_started_8648901029701791816,_started_8648901029701791816,0,1721050592000
dbfs:/FileStore/tables/bucket_by_division/part-00000-tid-8648901029701791816-f57a438f-7dbc-4837-922a-e56ed2616ef1-19-1_00000.c000.csv,part-00000-tid-8648901029701791816-f57a438f-7dbc-4837-922a-e56ed2616ef1-19-1_00000.c000.csv,2003,1721050592000
dbfs:/FileStore/tables/bucket_by_division/part-00000-tid-8648901029701791816-f57a438f-7dbc-4837-922a-e56ed2616ef1-19-2_00001.c000.csv,part-00000-tid-8648901029701791816-f57a438f-7dbc-4837-922a-e56ed2616ef1-19-2_00001.c000.csv,1018,1721050592000

In [0]:
df_part1 = spark.read\
    .option("header","true")\
    .option("inferschema","true")\
    .csv(path = "/FileStore/tables/bucket_by_division/part-00000-tid-8648901029701791816-f57a438f-7dbc-4837-922a-e56ed2616ef1-19-1_00000.c000.csv")

In [0]:
df_part1.show()

+--------+---+------+---------+--------+
|    name|age|gender|  country|emp_type|
+--------+---+------+---------+--------+
|    Liam| 46|  Male|    China|employee|
|   James| 49|Female|   Brazil| manager|
|     Ava| 35|Female|   Canada|employee|
|  Sophia| 25|Female|  Germany|employee|
|     Ava| 23|  Male|   Canada|employee|
|    Emma| 36|  Male|    Japan| manager|
|    Emma| 27|Female|       UK| manager|
|     Ava| 50|  Male|      USA| manager|
|    Emma| 54|  Male|    China| manager|
|   James| 43|  Male|       UK|employee|
|Isabella| 50|Female|  Germany|employee|
|  Olivia| 52|Female|       UK| manager|
| William| 21|  Male|   France|employee|
|    Noah| 28|  Male|Australia| manager|
|    John| 34|Female|   Brazil| manager|
| William| 20|Female|   Brazil| manager|
|    John| 40|Female|    China| manager|
|    Noah| 46|  Male|       UK| manager|
|  Olivia| 55|  Male|  Germany| manager|
|    Noah| 38|  Male|    China|employee|
+--------+---+------+---------+--------+
only showing top 20 rows

In [0]:
df_part1.count()

Out[24]: 65

In [0]:
df_part2 = spark.read\
    .option("header","true")\
    .option("inferschema","true")\
    .csv(path = "/FileStore/tables/bucket_by_division/part-00000-tid-8648901029701791816-f57a438f-7dbc-4837-922a-e56ed2616ef1-19-2_00001.c000.csv")

In [0]:
df_part2.count()

Out[26]: 35

In [0]:
df_part1.show()

+--------+---+------+---------+--------+
|    name|age|gender|  country|emp_type|
+--------+---+------+---------+--------+
|    Liam| 46|  Male|    China|employee|
|   James| 49|Female|   Brazil| manager|
|     Ava| 35|Female|   Canada|employee|
|  Sophia| 25|Female|  Germany|employee|
|     Ava| 23|  Male|   Canada|employee|
|    Emma| 36|  Male|    Japan| manager|
|    Emma| 27|Female|       UK| manager|
|     Ava| 50|  Male|      USA| manager|
|    Emma| 54|  Male|    China| manager|
|   James| 43|  Male|       UK|employee|
|Isabella| 50|Female|  Germany|employee|
|  Olivia| 52|Female|       UK| manager|
| William| 21|  Male|   France|employee|
|    Noah| 28|  Male|Australia| manager|
|    John| 34|Female|   Brazil| manager|
| William| 20|Female|   Brazil| manager|
|    John| 40|Female|    China| manager|
|    Noah| 46|  Male|       UK| manager|
|  Olivia| 55|  Male|  Germany| manager|
|    Noah| 38|  Male|    China|employee|
+--------+---+------+---------+--------+
only showing top 20 rows

In [0]:
df_part2.show()

+--------+---+------+---------+--------+
|    name|age|gender|  country|emp_type|
+--------+---+------+---------+--------+
|    John| 34|  Male|   Brazil|   admin|
|Isabella| 38|  Male|    Japan|   admin|
| William| 43|  Male|    India|   admin|
|    Noah| 57|  Male|   France|   admin|
| William| 50|Female|    Japan|   admin|
|    Liam| 25|Female|    Japan|   admin|
|    John| 60|  Male|    Japan|   admin|
|   James| 26|Female|    Japan|   admin|
|    Liam| 32|  Male|    China|   admin|
|    John| 56|Female|    China|   admin|
| William| 30|  Male|    India|   admin|
| William| 41|Female|   Canada|   admin|
|  Sophia| 29|  Male|  Germany|   admin|
|     Ava| 26|Female|   Brazil|   admin|
|  Sophia| 34|Female|    Japan|   admin|
| William| 40|Female|    China|   admin|
|    John| 54|  Male|Australia|   admin|
|Isabella| 21|Female|   Canada|   admin|
|  Olivia| 47|Female|   Brazil|   admin|
|    John| 26|  Male|   France|   admin|
+--------+---+------+---------+--------+
only showing top 20 rows