In [0]:
spark

In [0]:
flight_df = spark.read.format('csv')\
    .option("header","false")\
    .option("inferschema","false")\
    .option('mode',"FAILFAST")\
    .load("/FileStore/tables/flight_data_hive.csv")

In [0]:
flight_df.show()

+--------------------+----------------+---+
|                 _c0|             _c1|_c2|
+--------------------+----------------+---+
|       United States|         Romania| 15|
|       United States|         Croatia|  1|
|       United States|         Ireland|344|
|               Egypt|   United States| 15|
|       United States|           India| 62|
|       United States|       Singapore|  1|
|       United States|         Grenada| 62|
|          Costa Rica|   United States|588|
|             Senegal|   United States| 40|
|             Moldova|   United States|  1|
|       United States|    Sint Maarten|325|
|       United States|Marshall Islands| 39|
|              Guyana|   United States| 64|
|               Malta|   United States|  1|
|            Anguilla|   United States| 41|
|             Bolivia|   United States| 30|
|       United States|        Paraguay|  6|
|             Algeria|   United States|  4|
|Turks and Caicos ...|   United States|230|
|       United States|       Gibraltar|  1|
+--------------------+----------------+---+
only showing top 20 rows

In [0]:
flight_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

### With header On

In [0]:
flight_df_header_on = spark.read.format('csv')\
    .option("header","true")\
    .option("inferschema","false")\
    .option('mode',"FAILFAST")\
    .load("/FileStore/tables/flight_data_hive.csv")

In [0]:
flight_df_header_on.show()

+--------------------+----------------+---+
|       United States|         Romania| 15|
+--------------------+----------------+---+
|       United States|         Croatia|  1|
|       United States|         Ireland|344|
|               Egypt|   United States| 15|
|       United States|           India| 62|
|       United States|       Singapore|  1|
|       United States|         Grenada| 62|
|          Costa Rica|   United States|588|
|             Senegal|   United States| 40|
|             Moldova|   United States|  1|
|       United States|    Sint Maarten|325|
|       United States|Marshall Islands| 39|
|              Guyana|   United States| 64|
|               Malta|   United States|  1|
|            Anguilla|   United States| 41|
|             Bolivia|   United States| 30|
|       United States|        Paraguay|  6|
|             Algeria|   United States|  4|
|Turks and Caicos ...|   United States|230|
|       United States|       Gibraltar|  1|
|Saint Vincent and...|   United States|  1|
+--------------------+----------------+---+
only showing top 20 rows

In [0]:
flight_df_header_on.printSchema()

root
 |-- United States: string (nullable = true)
 |-- Romania: string (nullable = true)
 |-- 15: string (nullable = true)

### With Inferschema On

In [0]:
flight_df_inferschema_on = spark.read.format('csv')\
    .option("header","false")\
    .option("inferschema","true")\
    .option('mode',"FAILFAST")\
    .load("/FileStore/tables/flight_data_hive.csv")

In [0]:
flight_df_inferschema_on.printSchema() 
# Here i am getting string instead of integer for column _c2

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

### Another way to read Files

In [0]:
df = spark.read.csv("/FileStore/tables/flight_data_hive.csv")

In [0]:
df.show()

+--------------------+----------------+---+
|                 _c0|             _c1|_c2|
+--------------------+----------------+---+
|       United States|         Romania| 15|
|       United States|         Croatia|  1|
|       United States|         Ireland|344|
|               Egypt|   United States| 15|
|       United States|           India| 62|
|       United States|       Singapore|  1|
|       United States|         Grenada| 62|
|          Costa Rica|   United States|588|
|             Senegal|   United States| 40|
|             Moldova|   United States|  1|
|       United States|    Sint Maarten|325|
|       United States|Marshall Islands| 39|
|              Guyana|   United States| 64|
|               Malta|   United States|  1|
|            Anguilla|   United States| 41|
|             Bolivia|   United States| 30|
|       United States|        Paraguay|  6|
|             Algeria|   United States|  4|
|Turks and Caicos ...|   United States|230|
|       United States|       Gibraltar|  1|
+--------------------+----------------+---+
only showing top 20 rows

In [0]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [0]:
df_header = spark.read.csv(path = "/FileStore/tables/flight_data_hive.csv", header= True , inferSchema = False)

In [0]:
df_header.show()

+--------------------+----------------+---+
|       United States|         Romania| 15|
+--------------------+----------------+---+
|       United States|         Croatia|  1|
|       United States|         Ireland|344|
|               Egypt|   United States| 15|
|       United States|           India| 62|
|       United States|       Singapore|  1|
|       United States|         Grenada| 62|
|          Costa Rica|   United States|588|
|             Senegal|   United States| 40|
|             Moldova|   United States|  1|
|       United States|    Sint Maarten|325|
|       United States|Marshall Islands| 39|
|              Guyana|   United States| 64|
|               Malta|   United States|  1|
|            Anguilla|   United States| 41|
|             Bolivia|   United States| 30|
|       United States|        Paraguay|  6|
|             Algeria|   United States|  4|
|Turks and Caicos ...|   United States|230|
|       United States|       Gibraltar|  1|
|Saint Vincent and...|   United States|  1|
+--------------------+----------------+---+
only showing top 20 rows

In [0]:
df_header.printSchema()

root
 |-- United States: string (nullable = true)
 |-- Romania: string (nullable = true)
 |-- 15: string (nullable = true)

In [0]:
df_header_inferschema = spark.read.csv(path = "/FileStore/tables/flight_data_hive.csv", header = True , inferSchema = True)

In [0]:
df_header_inferschema.show()

+--------------------+----------------+---+
|       United States|         Romania| 15|
+--------------------+----------------+---+
|       United States|         Croatia|  1|
|       United States|         Ireland|344|
|               Egypt|   United States| 15|
|       United States|           India| 62|
|       United States|       Singapore|  1|
|       United States|         Grenada| 62|
|          Costa Rica|   United States|588|
|             Senegal|   United States| 40|
|             Moldova|   United States|  1|
|       United States|    Sint Maarten|325|
|       United States|Marshall Islands| 39|
|              Guyana|   United States| 64|
|               Malta|   United States|  1|
|            Anguilla|   United States| 41|
|             Bolivia|   United States| 30|
|       United States|        Paraguay|  6|
|             Algeria|   United States|  4|
|Turks and Caicos ...|   United States|230|
|       United States|       Gibraltar|  1|
|Saint Vincent and...|   United States|  1|
+--------------------+----------------+---+
only showing top 20 rows

In [0]:
df_header_inferschema.printSchema()

root
 |-- United States: string (nullable = true)
 |-- Romania: string (nullable = true)
 |-- 15: string (nullable = true)