In [0]:
spark

In [0]:
df = spark.read\
    .option("header","true")\
    .option("inferschema","true")\
    .csv(path = r"/FileStore/tables/employee_records.csv")

In [0]:
df.show()

+--------+---+------+---------+--------+
|    name|age|gender|  country|emp_type|
+--------+---+------+---------+--------+
|    John| 34|  Male|   Brazil|   admin|
|    Liam| 46|  Male|    China|employee|
|Isabella| 38|  Male|    Japan|   admin|
| William| 43|  Male|    India|   admin|
|   James| 49|Female|   Brazil| manager|
|     Ava| 35|Female|   Canada|employee|
|    Noah| 57|  Male|   France|   admin|
|  Sophia| 25|Female|  Germany|employee|
|     Ava| 23|  Male|   Canada|employee|
|    Emma| 36|  Male|    Japan| manager|
|    Emma| 27|Female|       UK| manager|
|     Ava| 50|  Male|      USA| manager|
|    Emma| 54|  Male|    China| manager|
|   James| 43|  Male|       UK|employee|
|Isabella| 50|Female|  Germany|employee|
|  Olivia| 52|Female|       UK| manager|
| William| 50|Female|    Japan|   admin|
| William| 21|  Male|   France|employee|
|    Noah| 28|  Male|Australia| manager|
|    Liam| 25|Female|    Japan|   admin|
+--------+---+------+---------+--------+
only showing top 20 rows

#### Ways to select columns

In [0]:
# There are 4 ways to select column "name",col("age"),df.country,df["gender"]
from pyspark.sql.functions import col
df.select("name",col("age"),df.country,df["gender"]).show()

+--------+---+---------+------+
|    name|age|  country|gender|
+--------+---+---------+------+
|    John| 34|   Brazil|  Male|
|    Liam| 46|    China|  Male|
|Isabella| 38|    Japan|  Male|
| William| 43|    India|  Male|
|   James| 49|   Brazil|Female|
|     Ava| 35|   Canada|Female|
|    Noah| 57|   France|  Male|
|  Sophia| 25|  Germany|Female|
|     Ava| 23|   Canada|  Male|
|    Emma| 36|    Japan|  Male|
|    Emma| 27|       UK|Female|
|     Ava| 50|      USA|  Male|
|    Emma| 54|    China|  Male|
|   James| 43|       UK|  Male|
|Isabella| 50|  Germany|Female|
|  Olivia| 52|       UK|Female|
| William| 50|    Japan|Female|
| William| 21|   France|  Male|
|    Noah| 28|Australia|  Male|
|    Liam| 25|    Japan|Female|
+--------+---+---------+------+
only showing top 20 rows

In [0]:
df.collect()[0]

Out[11]: Row(name='John', age=34, gender='Male', country='Brazil', emp_type='admin')

#### Accessing select and collect

In [0]:
df.collect()

Out[12]: [Row(name='John', age=34, gender='Male', country='Brazil', emp_type='admin'),
 Row(name='Liam', age=46, gender='Male', country='China', emp_type='employee'),
 Row(name='Isabella', age=38, gender='Male', country='Japan', emp_type='admin'),
 Row(name='William', age=43, gender='Male', country='India', emp_type='admin'),
 Row(name='James', age=49, gender='Female', country='Brazil', emp_type='manager'),
 Row(name='Ava', age=35, gender='Female', country='Canada', emp_type='employee'),
 Row(name='Noah', age=57, gender='Male', country='France', emp_type='admin'),
 Row(name='Sophia', age=25, gender='Female', country='Germany', emp_type='employee'),
 Row(name='Ava', age=23, gender='Male', country='Canada', emp_type='employee'),
 Row(name='Emma', age=36, gender='Male', country='Japan', emp_type='manager'),
 Row(name='Emma', age=27, gender='Female', country='UK', emp_type='manager'),
 Row(name='Ava', age=50, gender='Male', country='USA', emp_type='manager'),
 Row(name='Emma', age=54, gender='Male', country='China', emp_type='manager'),
 Row(name='James', age=43, gender='Male', country='UK', emp_type='employee'),
 Row(name='Isabella', age=50, gender='Female', country='Germany', emp_type='employee'),
 Row(name='Olivia', age=52, gender='Female', country='UK', emp_type='manager'),
 Row(name='William', age=50, gender='Female', country='Japan', emp_type='admin'),
 Row(name='William', age=21, gender='Male', country='France', emp_type='employee'),
 Row(name='Noah', age=28, gender='Male', country='Australia', emp_type='manager'),
 Row(name='Liam', age=25, gender='Female', country='Japan', emp_type='admin'),
 Row(name='John', age=34, gender='Female', country='Brazil', emp_type='manager'),
 Row(name='John', age=60, gender='Male', country='Japan', emp_type='admin'),
 Row(name='William', age=20, gender='Female', country='Brazil', emp_type='manager'),
 Row(name='John', age=40, gender='Female', country='China', emp_type='manager'),
 Row(name='Noah', age=46, gender='Male', country='UK', emp_type='manager'),
 Row(name='Olivia', age=55, gender='Male', country='Germany', emp_type='manager'),
 Row(name='Noah', age=38, gender='Male', country='China', emp_type='employee'),
 Row(name='William', age=51, gender='Female', country='China', emp_type='employee'),
 Row(name='Emma', age=39, gender='Male', country='France', emp_type='manager'),
 Row(name='Noah', age=44, gender='Female', country='France', emp_type='employee'),
 Row(name='James', age=26, gender='Female', country='Japan', emp_type='admin'),
 Row(name='Isabella', age=54, gender='Female', country='UK', emp_type='employee'),
 Row(name='Noah', age=48, gender='Male', country='Canada', emp_type='manager'),
 Row(name='Ava', age=26, gender='Male', country='UK', emp_type='manager'),
 Row(name='Ava', age=43, gender='Male', country='India', emp_type='employee'),
 Row(name='Liam', age=32, gender='Male', country='China', emp_type='admin'),
 Row(name='John', age=56, gender='Female', country='China', emp_type='admin'),
 Row(name='Noah', age=52, gender='Male', country='China', emp_type='employee'),
 Row(name='Liam', age=54, gender='Female', country='Brazil', emp_type='manager'),
 Row(name='William', age=30, gender='Male', country='India', emp_type='admin'),
 Row(name='Isabella', age=56, gender='Female', country='Brazil', emp_type='manager'),
 Row(name='Olivia', age=25, gender='Male', country='Brazil', emp_type='employee'),
 Row(name='Emma', age=47, gender='Male', country='Canada', emp_type='manager'),
 Row(name='William', age=41, gender='Female', country='Canada', emp_type='admin'),
 Row(name='William', age=49, gender='Male', country='India', emp_type='employee'),
 Row(name='Emma', age=58, gender='Female', country='Australia', emp_type='manager'),
 Row(name='Ava', age=60, gender='Female', country='France', emp_type='manager'),
 Row(name='Isabella', age=30, gender='Female', country='France', emp_type='employee'),
 Row(name='William', age=35, gender='Female', country='Canada', emp_type='manager'),
 Row(name='Sophia', age=29, gender='Male', country='Germany', emp_type='admin'),
 Row(name='Sophia', age=48, gender='Male', country='USA', emp_type='manager'),
 Row(name='Ava', age=26, gender='Female', country='Brazil', emp_type='admin'),
 Row(name='Sophia', age=42, gender='Male', country='France', emp_type='manager'),
 Row(name='Sophia', age=48, gender='Male', country='France', emp_type='employee'),
 Row(name='Sophia', age=34, gender='Female', country='Japan', emp_type='admin'),
 Row(name='William', age=40, gender='Female', country='China', emp_type='admin'),
 Row(name='Ava', age=55, gender='Male', country='Brazil', emp_type='employee'),
 Row(name='Emma', age=37, gender='Male', country='Australia', emp_type='employee'),
 Row(name='Olivia', age=49, gender='Male', country='Brazil', emp_type='employee'),
 Row(name='William', age=41, gender='Female', country='Germany', emp_type='manager'),
 Row(name='William', age=21, gender='Female', country='Australia', emp_type='manager'),
 Row(name='Olivia', age=59, gender='Male', country='France', emp_type='employee'),
 Row(name='Isabella', age=59, gender='Female', country='Canada', emp_type='employee'),
 Row(name='Emma', age=40, gender='Female', country='India', emp_type='employee'),
 Row(name='John', age=54, gender='Male', country='Australia', emp_type='admin'),
 Row(name='Isabella', age=21, gender='Female', country='Canada', emp_type='admin'),
 Row(name='Emma', age=35, gender='Female', country='France', emp_type='employee'),
 Row(name='Olivia', age=47, gender='Female', country='Brazil', emp_type='admin'),
 Row(name='Olivia', age=59, gender='Female', country='India', emp_type='manager'),
 Row(name='John', age=26, gender='Male', country='France', emp_type='admin'),
 Row(name='James', age=46, gender='Female', country='UK', emp_type='admin'),
 Row(name='Isabella', age=25, gender='Female', country='Japan', emp_type='employee'),
 Row(name='William', age=30, gender='Male', country='Brazil', emp_type='admin'),
 Row(name='Isabella', age=22, gender='Female', country='Germany', emp_type='admin'),
 Row(name='Noah', age=44, gender='Female', country='China', emp_type='admin'),
 Row(name='Olivia', age=39, gender='Female', country='Brazil', emp_type='employee'),
 Row(name='John', age=55, gender='Female', country='China', emp_type='admin'),
 Row(name='Noah', age=32, gender='Male', country='Japan', emp_type='admin'),
 Row(name='Isabella', age=41, gender='Female', country='India', emp_type='admin'),
 Row(name='William', age=57, gender='Female', country='Australia', emp_type='manager'),
 Row(name='James', age=48, gender='Male', country='Germany', emp_type='employee'),
 Row(name='John', age=21, gender='Female', country='France', emp_type='admin'),
 Row(name='William', age=39, gender='Female', country='Brazil', emp_type='admin'),
 Row(name='James', age=30, gender='Female', country='Australia', emp_type='manager'),
 Row(name='Emma', age=45, gender='Female', country='Japan', emp_type='admin'),
 Row(name='William', age=33, gender='Female', country='France', emp_type='manager'),
 Row(name='Liam', age=55, gender='Male', country='Japan', emp_type='employee'),
 Row(name='Olivia', age=58, gender='Female', country='Australia', emp_type='admin'),
 Row(name='Sophia', age=22, gender='Male', country='Germany', emp_type='employee'),
 Row(name='William', age=24, gender='Male', country='India', emp_type='admin'),
 Row(name='Emma', age=49, gender='Male', country='Australia', emp_type='manager'),
 Row(name='Emma', age=26, gender='Female', country='USA', emp_type='manager'),
 Row(name='Ava', age=34, gender='Male', country='India', emp_type='admin'),
 Row(name='Emma', age=53, gender='Female', country='Japan', emp_type='manager'),
 Row(name='Noah', age=37, gender='Female', country='Germany', emp_type='manager'),
 Row(name='William', age=44, gender='Male', country='Japan', emp_type='manager'),
 Row(name='Noah', age=53, gender='Female', country='Canada', emp_type='manager'),
 Row(name='Noah', age=51, gender='Male', country='Canada', emp_type='admin'),
 Row(name='Ava', age=26, gender='Male', country='Brazil', emp_type='employee'),
 Row(name='Olivia', age=30, gender='Female', country='China', emp_type='admin')]

In [0]:
#  Accessing individual element from the dataframe
df.select("name").collect()[0].name

Out[13]: 'John'

#### first()

In [0]:
df.first()

Out[14]: Row(name='John', age=34, gender='Male', country='Brazil', emp_type='admin')

In [0]:
df.first().name

Out[15]: 'John'

#### filter((condition1) [ | -> or, & -> and] (condition2))

In [0]:
df.filter((col("gender") == "Male") & (col("age") == 28) ).show()

+----+---+------+---------+--------+
|name|age|gender|  country|emp_type|
+----+---+------+---------+--------+
|Noah| 28|  Male|Australia| manager|
+----+---+------+---------+--------+

In [0]:
df.filter((df.gender == "Male")&(df.age == 28)).show()

+----+---+------+---------+--------+
|name|age|gender|  country|emp_type|
+----+---+------+---------+--------+
|Noah| 28|  Male|Australia| manager|
+----+---+------+---------+--------+

In [0]:
df.select(col("age") >10).show()

+----------+
|(age > 10)|
+----------+
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
|      true|
+----------+
only showing top 20 rows

In [0]:
df.select(col("age")+100).show()

+-----------+
|(age + 100)|
+-----------+
|        134|
|        146|
|        138|
|        143|
|        149|
|        135|
|        157|
|        125|
|        123|
|        136|
|        127|
|        150|
|        154|
|        143|
|        150|
|        152|
|        150|
|        121|
|        128|
|        125|
+-----------+
only showing top 20 rows

#### using expr

In [0]:
from pyspark.sql.functions import expr
df.select(expr("(age+500) as age"),expr("age as emp_age"),expr("name as emp_name"), expr("concat(name,country) as detail")).show()

+---+-------+--------+---------------+
|age|emp_age|emp_name|         detail|
+---+-------+--------+---------------+
|534|     34|    John|     JohnBrazil|
|546|     46|    Liam|      LiamChina|
|538|     38|Isabella|  IsabellaJapan|
|543|     43| William|   WilliamIndia|
|549|     49|   James|    JamesBrazil|
|535|     35|     Ava|      AvaCanada|
|557|     57|    Noah|     NoahFrance|
|525|     25|  Sophia|  SophiaGermany|
|523|     23|     Ava|      AvaCanada|
|536|     36|    Emma|      EmmaJapan|
|527|     27|    Emma|         EmmaUK|
|550|     50|     Ava|         AvaUSA|
|554|     54|    Emma|      EmmaChina|
|543|     43|   James|        JamesUK|
|550|     50|Isabella|IsabellaGermany|
|552|     52|  Olivia|       OliviaUK|
|550|     50| William|   WilliamJapan|
|521|     21| William|  WilliamFrance|
|528|     28|    Noah|  NoahAustralia|
|525|     25|    Liam|      LiamJapan|
+---+-------+--------+---------------+
only showing top 20 rows